body .select-field__current {
    height: 33px !important;
}

.bird{
    margin: auto;
    transform-origin: 50% 80%;
    transition: all 0.20s cubic-bezier(0.28, 0.15, 0, 2.1);
  }
  .tail {
    transition: all 0.15s cubic-bezier(0.28, 0.15, 0, 3.1);
    transform-origin: 50px 320px;
  }
  .bird:hover{
    transform: rotate(4deg);
  }
  .bird:hover .tail{
    transform: rotate(20deg) translateX(5px) translateY(-20px);
  }

  #text-node{
    text-anchor: "right";
    fill: "#4f442b";
    font-family:"Open Sans",Helvetica,Arial,sans-serif;
    
    
  }

   
